<div class="homeContainer" fxLayout="row wrap" fxFlex="100">
    <div class="mainPicture" fxLayout="column wrap" fxFlex="40">
        <h1>Alphie Shikwambana</h1>
        <img src="../../assets/Alphie.jpeg" style="width: 100%;padding: 15px 0px;" alt="Alphie Shikwambana">
        <div>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="category" fxLayout="column wrap" fxFlex="60">
    </div>
</div>