<div fxFill fxLayoutGap="15px" fxLayout="column wrap" fxFlex="100">
    <div class="header" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100" style="padding: 15px 30px">
        <div class="title">
            <h2>Kasi Convenience</h2>
        </div>
        <div class="menuList" fxLayout="row">
            <a href="">Categories</a>
            <a href="">Login</a>
            <a href="">Join</a>
        </div>
    </div>
    <div class="searchDiv" fxLayout="column wrap" fxLayoutGap="35px">
        <div class="heroText">
            <h1>Find products and services around you</h1>
        </div>
        <div class="searchBox" fxLayout="row">
            <input type="text" placeholder="What are you looking for?" style="width: 300px;">
            <p>Pretoria</p>
            <button>Search</button>
        </div>
        <div class="categoryList" fxLayout="row wrap" style="padding:20px 0;">
              <p *ngFor="let list of list" class="listItem">{{list}}</p>
            </div>
    </div>
    <div class="products" fxLayout="row wrap"  fxLayoutGap="20px" style="margin:10px">
        <mat-card style="width: 250px;margin: 10px !important;">
        <mat-card-header>
          <mat-card-title>Phones for sale</mat-card-title>
          <mat-card-subtitle>R2000</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://cdn.pixabay.com/photo/2016/03/27/19/43/smartphone-1283938__340.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

      <mat-card style="width: 250px;margin: 10px !important;">
        <mat-card-header>
          <mat-card-title>Phones for sale</mat-card-title>
          <mat-card-subtitle>R2000</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://cdn.pixabay.com/photo/2016/03/27/19/43/smartphone-1283938__340.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

      <mat-card style="width: 250px;margin: 10px !important;">
        <mat-card-header>
          <mat-card-title>Phones for sale</mat-card-title>
          <mat-card-subtitle>R2000</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://cdn.pixabay.com/photo/2016/03/27/19/43/smartphone-1283938__340.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

      <mat-card style="width: 250px;margin: 10px !important;">
        <mat-card-header>
          <mat-card-title>Phones for sale</mat-card-title>
          <mat-card-subtitle>R2000</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://cdn.pixabay.com/photo/2016/03/27/19/43/smartphone-1283938__340.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>

    

</div>